<h1></h1>
<p>Welcome to </p>
<div>
    <select name="category" id="category">
 {{#each category }}
                <option value={{name}}>
                     {{name}}
               </option>
               {{/each}}
    </select>
   
</div>